<h1>{{xxx1}}</h1>
<button (click)="AlertToken()">token</button>
<div class="home">
  <div class="home-page">
    <img src="assets/images/back1.jpg" class="img-responsive" alt="Responsive image">
  </div>
  <div class="col-md-12">
    <!-- Catchy title -->
    <h3>It<span class="color">'</span>s Lorem ipsum <span class="color">dolor</span> sit amet consectetur</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique est sit amet diam interdum semper. Vestibulum
      condimentum ante urna, vel interdum odio accumsan id.</p>
  </div>
  <div *ngIf="xxx">
    <span class="product">
      <div class="s-item">
          <a href="single-item.html">
            <img src="assets/images/2.png" class="img-responsive" alt="">
          </a>
          <div class="s-caption">
            <h4><a href="#">Finibus Bonorum</a></h4>
            <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
          </div>
        </div>
  </span>
  <span class="product">
      <div class="s-item">
          <a href="single-item.html">
            <img src="assets/images/3.png" class="img-responsive" alt="">
          </a>
          <div class="s-caption">
            <h4><a href="#">Finibus Bonorum</a></h4>
            <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
          </div>
        </div>  </span>
  <span class="product">
      <div class="s-item">
          <a href="single-item.html">
            <img src="assets/images/4.png" class="img-responsive" alt="">
          </a>
          <div class="s-caption">
            <h4><a href="#">Finibus Bonorum</a></h4>
            <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
          </div>
        </div>  </span>
  <span class="product">
      <div class="s-item">
          <a href="single-item.html">
            <img src="assets/images/5.png" class="img-responsive" alt="">
          </a>
          <div class="s-caption">
            <h4><a href="#">Finibus Bonorum</a></h4>
            <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
          </div>
        </div>  </span></div>
  </div>
  <h1>{{xxx1}}</h1>