<button (click)="AlertToken()">token</button>
<div class="home">
  <div class="home-page">
    <img src="assets/images/back1.jpg" class="img-responsive" alt="Responsive image">
  </div>
  <div class="col-md-12">
    <!-- Catchy title -->
    <h3>It<span class="color">'</span>s Lorem ipsum <span class="color">dolor</span> sit amet consectetur</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique est sit amet diam interdum semper. Vestibulum
      condimentum ante urna, vel interdum odio accumsan id.</p>
  </div>
  <h1 *ngIf="!pageInfoService.isShowProducts" routerLinkActive="active" [routerLink]="['/login']"><a>Login</a> to see the product list.</h1>
  <div class="product-container" *ngIf="pageInfoService.isShowProducts">
    <span class="product" *ngFor="let product of products;">
      <div class="s-item">
          <a href="single-item.html">
              <img src="{{product.imgurl}}" class="img-responsive">
          </a>
          <span>{{product.name}}</span>
    <p> {{product.description}}</p>
    <hr>
    <div class="item">
        <span class="item-price">{{product.price}}$</span>
        <button class="btn btn-danger btn-sm btn-animate item-price" (click)="addToCart(product)">Add to Cart</button>
    </div>
  </div>
  </span>
</div>
</div>


<!-- <div *ngFor="let product of products;" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <div class="item">
    <div class="item-img">
      <img src="{{product.imgurl}}" class="img-responsive">
    </div>
    <div class="item-name">
      <span>{{product.name}}</span>
    </div>
    <div class="item-des">
      {{product.description}}
    </div>
    <hr>
    <div class="item-price">
      <div class="item-priceshow">
        {{product.price | price:'$'}}
      </div>
      <div class="item-shoppingcart">
        <button appBtnAddCart class="btn btn-danger btn-sm btn-animate" (click)="addToCart(product)">
                <em>Add to Cart</em>
                <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                  <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
                </svg>
              </button>
        <a appBtnAddCart (click)="addToCart(product)" class="btn btn-danger btn-sm">Add to cart</a>
      </div>
    </div>
  </div>
</div> -->