.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home-image{
    display: flex;
    flex-basis: 100%;
    flex-shrink: 1;
}
h3{
    font-family: 'Open Sans Condensed', sans-serif;
    color: inherit;
    margin-top: 18px;
    margin-bottom: 9px;
    font-size: 50px;
}
.product{
    display: flex;
    justify-content: center;
    display: flex;
    flex-basis: 20%;
    color: #000000;
    flex-wrap: nowrap;
    
}
.product img{
    max-height:150px; 
}
.s-item {
    max-width: 250px;
    background: #fff;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border: 1px solid #eee;
    border-right: 3px solid #eee;
    border-bottom: 3px solid #eee;
    border-radius: 6 px;
}