<header class="box-flex-head">
    <div class="login-block"><a class="login-name" href="index.html">Shopping</a>
    </div>
    <div class="login-block">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Home <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a routerLinkActive="active" [routerLink]="['/home']">Revolution Slider</a></li>
                <li><a routerLinkActive="active" [routerLink]="['/home']">Bootstrap Slider</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account <span class="caret"></span>
                </button>
            <ul class="dropdown-menu">
                <li><a href="#">My Account</a></li>
                <li><a href="#">View Cart</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Pages <span class="caret"></span>
                    </button>
            <ul class="dropdown-menu">
                <li><a href="#">404</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Coputers <span class="caret"></span>
                        </button>
            <ul class="dropdown-menu">
                <li><a href="#">Desktop</a></li>
                <li><a href="#">Lattop</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                              Contact
                            </button>
        </div>
    </div>
    <div class="login-block">
        <button type="Submit" class="btn btn-info btn-lg active" routerLinkActive="active" [routerLink]="['/login']" *ngIf="pageInfoService.isShowSignin">Login</button>
        <button type="Submit" class="btn btn-info btn-lg active" routerLinkActive="active" [routerLink]="['/home']" *ngIf="pageInfoService.isShowSignout" (click)="onClick_Logout()">Sign out</button>

        <button type="button" class="btn btn-info btn-lg active" data-toggle="modal" data-target=".bs-example-modal-sm">ShopCart</button>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <h5>Shopping Cart</h5>
                    <hr>
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of shopCartItems.shopCartItems">
                                    <td class="color">
                                        {{item.name}}
                                    </td>
                                    <td class="trquantity">
                                        <div class="quantity">
                                            <div class="input-group spinner">
                                                <a class="btn btn-default btn-xs"  (click)="reduceFromShopCart(item)" role="button">-</a>
                                                <button type="button" class="btn btn-default btn-lg" disabled="disabled" >{{item.num}}</button>                                                
                                                <a class="btn btn-default btn-xs"  (click)="addToShopCart(item)" role="button">+</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {{item.price}}$
                                    </td>
                                    <td>
                                        <button type="button" class="close" aria-label="Close" (click)="DeletefromShopCart(item)">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td></td>
                                    <td>Total</td>
                                    <td colspan="2">{{sessionSvc.ShoppingCart.totalPrice | price:'$'}}</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>