<header class="box-flex-head">
    <div class="login-block"><a class="login-name" href="index.html">Shopping</a>
    </div>
    <div class="login-block">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Home <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Revolution Slider</a></li>
                <li><a href="#">Bootstrap Slider</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account <span class="caret"></span>
                </button>
            <ul class="dropdown-menu">
                <li><a href="#">My Account</a></li>
                <li><a href="#">View Cart</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Pages <span class="caret"></span>
                    </button>
            <ul class="dropdown-menu">
                <li><a href="#">404</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Coputers <span class="caret"></span>
                        </button>
            <ul class="dropdown-menu">
                <li><a href="#">Desktop</a></li>
                <li><a href="#">Lattop</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                              Contact
                            </button>
        </div>
    </div>
    <a routerLinkActive="active" [routerLink]="['/login']">Login</a>
    <a routerLinkActive="active" [routerLink]="['/home']">home</a>
    <div class="login-block"><button type="Submit" class="btn btn-info btn-lg active">Login</button>
        <button type="Submit" class="btn btn-info btn-lg active">Signup</button>
    </div>
</header>